<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EPPlus" version="5.3.1" targetFramework="net461" />
  <package id="EPPlusEnumerable" version="5.0.0" targetFramework="net461" />
  <package id="iTextSharp" version="5.5.13.1" targetFramework="net461" />
  <package id="System.ComponentModel.Annotations" version="4.7.0" targetFramework="net461" />
  <package id="System.Drawing.Common" version="4.7.0" targetFramework="net461" />
</packages>